@{
    ViewData["Title"] = "Media Reference";
}
<div>
    <h1 style="text-align:center">Media Collection Reference</h1>
</div>
<div>
    <table>
        <tr>
            <td>
                <a asp-action="Movies">Movies</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Games">Games</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Books">Books</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Music">Music</a>
            </td>
        </tr>
    </table>
</div>