
@{
    ViewData["Title"] = "Music";
}

<h2>Music</h2>
<table id="fill" style="position: relative; top: 0; bottom: 0; left: 0; right: 0;">
    <tr style="height: 25%;">
        <td style="padding-left:10px; padding-right:10px;">Name</td>
        <td style="padding-left:10px; padding-right:10px;">Release Date</td>
        <td style="padding-left:10px; padding-right:10px;">Image</td>
    </tr>
</table>

